.learnCard {
  border-bottom: 1mm solid #8f8a8a95;
  border-radius: 0px 0px 9.47318px 9.47318px;
  border-top: 1mm solid #8f8a8a95;
  margin-bottom: 10px;
  background: #FFFFFF;
  margin-top: 3px;
}

.learnCreator {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  margin: 5px 0px 5px 20px;
}

.learnHeading {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 15.16px;
  line-height: 21px;
  margin: 5px 0px 15px 20px;
  color: #000000;
}

.learnFeedback {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13.2624px;
  line-height: 17px;
  color: #8D8686;
  margin: 5px 0px 10px 20px;
}
