h1 {
  font-size: 25px;
  margin-bottom: 0;
}

h2 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;

  font-size: 20px;
  line-height: 27px;

  color: #1B1A1A;
  margin: 10px;
}

.container {
  margin: 1.34rem;
}

.categorycarousel {
  margin-bottom: 1.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.roundedcircle {
  font-size: 15px;
  display: flex;
  border: 1.5px solid;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.category {
  margin-left: 5px;
  margin-right: 5px;
}

.slider {
  justify-content: space-evenly;
}