.postImg {
    width: 100%;
    height: auto;
    /* height: 14rem; */
    /* max-height: 20rem; */
    top: 0;
    right: 0;
    object-fit: cover;
    position: relative;
}

.comments {
    color: rgb(91, 92, 92);
    /* margin-bottom: 100; */
}

.commentsContainer {
    margin-bottom: 45px;
}

.likes {
    color: green;
}

.linkCol {
    display: flex;
    justify-content: center;
}

.commentEdit {
    display: flex;
    justify-content: right;
}

.commentLike {
    display: flex;
    justify-content: left;
}

.postLike {
    display: flex;
    justify-content: left;
}

.btn {
    margin-right: 5px;
}

.cardFooter {
    position: relative;
    height: 45px;
}

.buttons {
    position: relative;
    /* height: auto; */
}

.icons {
    display: flex;
    position: absolute;
}

.commentForm {
    background-color: white;
    width: 100%;
    height: 45px;
}

/* .buttons {
    display: flex;
    position: absolute;
    justify-content: space-around;
} */