h2 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;

  color: #1B1A1A;
  margin: 10px;
}

p {
  font-family: 'Open Sans';
  margin: 10px;
}

body {
  background: #E5E5E5;
}

.discuss-img {
  width: 370px;
  height: auto;
  position: relative;
  align-self: center;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  margin-left: 99.5px;
  border-radius: 2%;
}

.discuss-content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.read-more {
  margin-left: 260px;
  font-size: 17px;
  text-decoration: underline;
}

.discuss-creator {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  margin: auto;
  margin-top: 14px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.discuss-heading {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  padding: 0px 3px 0px 6px;
  gap: 0px;
}

.discuss-content {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #000000;

}

.discuss-feedback {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  padding: 5px;
}

.discuss-comments {
  color: rgb(91, 92, 92);
}

.discuss-likes {
  color: green;
  margin-left: 5px;
}