h2 {
  font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;

color: #1B1A1A;
margin: 10px;
}

p {
  font-family: 'Open Sans';
  margin: 10px;
}

body {
  background: #E5E5E5;
}