h2 {
  font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;

color: #1B1A1A;
margin: 10px;
}

p {
  font-family: 'Open Sans';
  margin: 10px;
}

body {
  background: #E5E5E5;
}

.discuss-img {
  width: 370px;
  height: auto;
  position: relative;
  align-self: center;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  margin-left: 99.5px;
  border-radius: 2%;
}

