a {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-style: normal;
  font-weight: 700;
  /* font-size: 35px;
line-height: 43px; */
  letter-spacing: 0.05em;
  color: #2A3A5A;
}

img {
  width: 18px;
  height: 18px;
}