a {
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-style: normal;
  font-weight: 700;
  /* font-size: 35px;
line-height: 43px; */
  letter-spacing: 0.05em;
  color: #2A3A5A;
}

img {
position: absolute;
width: 39px;
height: 39px;
right: 90px;
top: 10px;
}
